@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    --cor-de-fundo: #E3D87E;
    --cor-de-fundo-2: #B9CDDA;
    --cor-de-fundo-3: #D7DAE5;
    --font-padrao: Arial, Helvetica, sans-serif;
    --font-titulo:  'Rosarivo', cursive;
    --font-texto: 'Playpen Sans', cursive;
}
*{
    margin: 0;
    padding: 0;
}
html body{
    height: 100vh;
    background-color: lightgray;
}
header{
    background-color: black;
    text-align: center;
}
header h1{
    font-family: var(--font-titulo);
    font-variant: small-caps;
    font-size: 2em;
    color: white;
    padding-top: 50px;
}
header p{
    font-family: var(--font-texto);
    font-variant: small-caps;
    font-size: 1.2em;
    font-weight: normal;
    color: white;
    padding-bottom: 50px;
}
header a{
    text-decoration: none;
    color: white;
    font-family: var(--font-texto);
}
header a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1em;
    padding-left: 10px;
}
section > pre{
    white-space: pre-line;
    padding-bottom: 2em;
}
section.comum{
    background-color: white;
    color: black;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5em;
}
section.background{
    background-color: gray;
    color: white;
    font-weight: bold;
    font-style: normal;
    box-shadow: inset 3px 3px 6px 0px rgba(0, 0, 0, 0.500);
    font-size: 1.5em;
}
section.comum pre{
    font-family: var(--font-texto);
}
section.background pre{
    background-color: rgba(0, 0, 0, 0.356);
    width: max-content;
    padding: 2px;
    font-family: var(--font-texto);
}
section#fundo01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
section#fundo02{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
abbr{
    text-decoration: none;
}
footer p{
    font-family: var(--font-texto);
    font-size: 1.2em;
    font-style: normal;
}
footer a{
    text-decoration: none;
    color: white;
    font-family: var(--font-texto);
    font-weight: bold;
    font-style: italic;
}
footer a:hover{
    text-decoration: underline;
}